.menu-table {
  margin: 20px 0;
  width: 100%;
  display: table;
  border-spacing: 0;
}

.menu-table th {
  text-align: left;
  vertical-align: top;
}

.menu-table th td {
  padding: 8px 8px;
  vertical-align: top;
}
